<!-- <div class="pull-right">
  <% if current_user %>
  <h4>Hello, <%= current_user.uid %>!</h4>
  <%= link_to "Logout", logout_path, method: :delete %>
    <% else %>
  <%= link_to "Sign in with Spotify", spotify_login_path %>
    <% end %>
</div> -->


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img class="img" alt="Brand" src="http://vignette1.wikia.nocookie.net/logopedia/images/f/f8/Spotify2015.png/revision/latest?cb=20150401181504">
      </a>
        <div class="pull-right align-right">
          <% if current_user %>
            <h5>Hello, <%= current_user.uid %>! - <%= link_to "Logout", logout_path, method: :delete %></h5>
          <% else %>
            <%= link_to "Sign in with Spotify", spotify_login_path %>
          <% end %>
      </div>
    </div>
  </div>
</nav>
